@font-face {
  font-family: 'Helvetica Outline';
  src: url('/fonts/helvetica-outline.otf') format('opentype');
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeue-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Georgia';
  src: url('/fonts/Georgia.ttf') format('truetype');
}

@font-face {
  font-family: 'Libre';
  src: url('/fonts/LibreCaslonDisplay-Regular.ttf') format('truetype');
}


.libre {
  font-family: 'Libre';
}

.outline {
  font-family: 'Helvetica Outline';
}

.georgia {
  font-family: 'Georgia';
}

.bebasRegular {
  font-family: 'Bebas Neue';
}

h1 {
  font-family: 'Libre';
  font-size: 64px;
  font-weight: 100;
  color: #242425;
  margin: 10px 0 10px 0;
}


h2 {
  font-family: 'Helvetica Outline';
  font-size: 44px;
  color: #242425;
  margin: 40px 0 40px 0;
}

