* {
  box-sizing: border-box;
  /*user-select: none;*/
}

html {
  display: flex;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
  font-family: sans-serif;
  min-height: 100%;
  background-color: #EDEDED;
  position:relative;
  flex: 1;
}


#app, container, .parent, main {
  flex: 1;
  display: flex;
  flex-direction: column;
  /*display: block;*/
  min-height: 100%;
  position: relative;
  width: 100%;
}

container {
  /*padding: 20px;*/
  background: white;
  display: flex;
  flex-direction: column;
  ul {
    padding-left: 20px;
  }
  &.main {
    padding: 0;
    margin: 0;
    background: 'white';
  }
}

#app {
  display: flex;
}

header {
  display: flex;
  flex-direction: row;
  background: #242425;
  color: white;
}

header .logo {
  height: 24px;
  margin: 10px;
}

header > div {
  flex: 1;
  width: 33%;
  display: flex;
  justify-content: center;
}

header > div.right {
  justify-content: flex-end;
  align-items: center;
}

header > div.right a:last-child {
  margin-right: 10px;
}

header a {
  color: white;
  margin: 0 5px;
}

a {
  /*color: black;*/
  color: #3E3EFF;
  cursor: pointer;
}

a.avatar {
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: transparent;
  overflow: hidden;
}

.link {
  /*color: #3E3EFF;*/
  padding: 0 5px;
}

button {
  height: 25px;
  margin: 0 5px;
  outline: none;
  cursor: pointer;
}

button.alert {
  box-shadow: 0 0 0 1px red;
}

button:focus, input[type="button"]:focus {
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

button.shadowButton {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 18px;

  justify-content: center;
  align-items: center;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  background-color: #EDEDED;

  box-shadow: 5px 5px 0px 0px black;
  min-width: 150px;
  padding: 0 10px;
  height: 40px;
  cursor: pointer;

  &:hover {
    /*box-shadow: 4px 4px 0px 0px !important;*/
    /*transform: translateX(1px) translateY(1px);*/
  }

  &:active, .active {
    box-shadow: 0px 0px 0px 0px black !important;
    transform: translateX(5px) translateY(5px);
  }
}

.blueInput {
   -webkit-appearance: none;
  border-bottom: 2px solid #3E3EFF;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 300px;
  height: 40px;
  margin: 0 15px 0 0;
  outline: none;
  color: #3E3EFF;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 18px;
}

.modal .blueInput {
  margin: 0 0 10px 0;
}

.modal .blueInput.pass {
  margin: 0 0 50px 0;
}

::-webkit-input-placeholder {
  color: #3E3EFF;
}

:-ms-input-placeholder {
  color: #3E3EFF;
}

::-moz-placeholder {
  color: #3E3EFF;
  opacity: 1;
}

:-moz-placeholder {
  color: #3E3EFF;
  opacity: 1;
}

.modalParent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(62, 62, 255, 0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    position: relative;
    width: 600px;
    height: 350px;
    z-index: 5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.modal .x {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    object-fit: contain;
}

.modal .form {
    display: flex;
    flex-direction: column;
}

@media only screen
  and (max-device-width: 736px) {

  container.main {
    padding: 10px;
  }

  .blueInput {
    width: 180px;
    height: 20px;
    margin: 0 0 10px 0;
    font-size: 14px;
    border-radius: 0;
  }

  button.shadowButton {
    display: flex;
    font-size: 14px;
    width: 85px;
    height: 30px;
    z-index: 1;
  }
}

