@import './global.css';

* {
  box-sizing: border-box;
  /*user-select: none;*/
}


.row {
  /*flex: 1;*/
  /*margin: calc(50% - 75rem);*/
  max-width: 75rem;
  margin: auto;
  /*padding: 0 20px;*/
}

row {
  display: flex;
}
column {
  display: flex;
  justify-content: column;
}

.pageContainer {
  margin: 40px auto;
  padding: 0 $leftMargin;
}

html {
  display: flex;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: $darkGrey;
  font-family: Arial, sans-serif;
  min-height: 100%;
  font-size: 16px;
  line-height: 1.5;
  /*background-color: #f8f8f8;*/
  background: hsl(240,15%,97%);

  position:relative;
  overflow-y: auto;
  flex: 1;
  -webkit-font-smoothing: antialiased;
}

pre {
  font-family: inherit;
  font-size: inherit;
  white-space: pre-wrap;
  margin: 0;
}

textarea {
  font-family: Arial, sans-serif;
}

#app, main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  width: 100%;
}

.column {
  display: flex;
}

container, .parent {
  /*background: white;*/
  display: flex;
  flex-direction: column;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;

  ul {
/*    padding-left: 20px;
*/  }
  &.main {
    padding: 0;
    margin: 0;
    background: 'white';
  }
}

#app {
  display: flex;
}

a {
 /*color: black;*/
  color: #3E3EFF;
  cursor: pointer;
}

.link {
  /*color: #3E3EFF;*/
  padding: 0 5px;
}

button {
  height: 25px;
  margin: 0 5px;
  outline: none;
  cursor: pointer;
}

button.alert {
  box-shadow: 0 0 0 1px red;
}

button:focus, input[type="button"]:focus {
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}


select.shadowButton, button.shadowButton {
  -webkit-appearance: none;
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0px;

  justify-content: center;
  align-items: center;
  border: 2px solid;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  box-shadow: 4px 4px 0px 0px;
  min-width: 150px;
  padding: 0 30px;
  height: 40px;
  cursor: pointer;
  color: $blue;
  outline: none;
  /*transition: all 200ms easeOutQuad;*/

  height: 45px;
  /*font-weight: normal;*/
  /*border: 1px solid;*/
  box-shadow: 4px 4px 24px -12px;

  &:hover, .hover {
    box-shadow: none;
  }

/*  &:hover, .hover {
    box-shadow: 5px 5px 0px !important;
    transform: translateX(-1px) translateY(-1px);
  }

  &:active, .active {
    box-shadow: 0px 0px 0px 0px !important;
    transform: translateX(5px) translateY(5px);
  }*/

  &:disabled {
    box-shadow: 0px 0px 0px 0px;
    opacity: .4;
    /*transform: translateX(5px) translateY(5px);*/
    /*color: $lightGrey;*/
  };
}

.basicButton {
  -webkit-appearance: none;
  font-family: Arial;
  font-size: 18px;
  border-radius: 0px;

  justify-content: center;
  align-items: center;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  display: flex;

  min-width: 150px;
  padding: 0 30px;
  /*font-family: Bebas;*/
  cursor: pointer;
  color: $blue;
  outline: none;

  height: 45px;
  /*font-weight: normal;*/
  border: 1px solid;
  /*box-shadow: 4px 4px 24px -12px;*/

  &:hover, .hover {
    box-shadow: none;
  }
  &.smallButton {
    height: 30px;
    font-size: 14px;
    padding: 0 20px;
  }
}

.blueInput {
  -webkit-appearance: none;
  border-bottom: 2px solid $blue;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 300px;
  height: 40px;
  margin: 0 15px 0 0;
  outline: none;
  color: $blue;
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
}

.modal .blueInput {
  margin: 0 0 10px 0;
}

.modal .blueInput.pass {
  margin: 0 0 50px 0;
}

::-webkit-input-placeholder {
  color: $greyText;
}

:-ms-input-placeholder {
  color: $greyText;
}

::-moz-placeholder {
  color: $greyText;
  opacity: 1;
}

:-moz-placeholder {
  color: $greyText;
  opacity: 1;
}

.blueInput {
  &::-webkit-input-placeholder {
    color: #3E3EFF;
  }

  &:-ms-input-placeholder {
    color: #3E3EFF;
  }

  &::-moz-placeholder {
    color: #3E3EFF;
    opacity: 1;
  }

  &:-moz-placeholder {
    color: #3E3EFF;
    opacity: 1;
  }
}


@media screen
  and (max-device-width: 414px) {

  container.main {
    padding: 10px;
  }

  .blueInput {
    width: 100%;
  }

  button.shadowButton {
    margin-top: 20px !important;
    z-index: 1;
    width: 100%;
  }
}
