.selectTags {
  font-family: 'Helvetica', sans-serif;
  font-size: 13px;
  margin-top: 10px;
  max-width: 400px;
  color: #111112;
  span {
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    padding: 5px;
    margin-right: 4px;
    margin-bottom: 4px;
    border: 1px solid #c0c0c0;
    &.selected {
      background: #4d4eff;
      border: 1px solid #4d4eff;
      color: white;
    }
  }
}
