@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url('/fonts/HelveticaNeueMedium.ttf');
}
@font-face {
  font-family: 'HelveticaNeue-CondensedBold';
  src: url('/fonts/HelveticaNeueCondensedBold.ttf');
}
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('/fonts/HelveticaNeueBold.ttf');
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/helveticaneue.ttf');
}





