$grey: grey;
/*$blue: #3E3EFF;*/
$darkGrey: #242425;
$blue: #0000ff;
$lightGrey: #9C9C9C;
$greyText: #9C9C9C;
$green: #196950;
$borderGrey: #E3E3E3;
$borderColor: #dddddd;
/*$greyBackground: hsl(0,0%,95%);*/
$greyBackground: #DFDFDF;
$orange: #ff5a00;

$lightBlue: hsl(240, 70%, 100%);

$shadowBorderGrey: hsl(0,0%,70%);

$darkBg: #444445;
$lightBg: hsl(0,0%,92%);
$bodyBg: hsl(240,15%,97%);

$twitterBlue: #00aced;

$leftMargin: 25px;
$globalMargin: 25px;

$navShadow: 0 3.5px 4px -5px $darkGrey;
$postShadow: 0 0 8px -4px $grey;
$postShadowHover: 0 0 12px -4px $grey;

$postOffset: 0;
$postOffsetPadding: 0;

%popupBorder {
  box-shadow: 0px 0px 0px .5px $shadowBorderGrey,
  -.1px -.1px 0px .5px $shadowBorderGrey,
  0 0px 20px -5px $darkGrey;
}

%flatBorder {
  box-shadow: 0px 0px 0px .5px $shadowBorderGrey,
  -.1px -.1px 0px .5px $shadowBorderGrey;
}

%flatBorderBottom {
  box-shadow: 0px .5px 0px 0px $lightBg;
}

%activeInput {
  box-shadow: 0 0 0px .5px $blue;
}

%popupMenu {
  position: absolute;
  background: white;
  min-width: 140px;
  text-align: center;
  div, a {
    font-size: 14px;
    font-family: Arial;
    padding: 10px 20px;
    @extend %flatBorderBottom;
    pointer: cursor;
    color: $blue;
    &:last-of-kind {
      border: none;
      box-shadow: none;
    }
    &:hover {
      background-color: $bodyBg;
    }
  }

  @extend %popupBorder;
  a {
    display: block;
  }
}

%input {
  font-size: 15px;
  line-height: 1.5;
  padding: 8px 15px;
  margin: 5px 0 0 0;
  background: white;
  box-shadow: 0 0 0 .5px $borderGrey, inset 0 0 10px -4px $grey;
  border-radius: 0px;
  white-space: pre-line;
  border: none;
  font-size: 15px;
  outline: none;
  width: 100%;
  &:focus, &.active {
    box-shadow: 0 0 0 .5px $borderGrey, 0 0 0px 1px $blue;
  }
}
