{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    // ["module:metro-react-native-babel-preset"]
  ],
  "plugins": [
    // need this because of class properties
    // plugin messing up flow types
    // https://github.com/babel/babel/issues/8417
    ["@babel/plugin-transform-flow-strip-types"],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/transform-exponentiation-operator",
    "@loadable/babel-plugin",
    // ["@babel/plugin-transform-runtime", {
    //   "regenerator": false
    // }],
    "@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": ["./app", "./app/modules"],
      "alias": {
        "server": "./server",
        "modules": "./app/modules",
        "core": "./app/core",
        "app": "./app",
      },
      "cwd": "babelrc",
    }]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console",
      ]
    }
  },
}
