{
  "presets": ["react-native"],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        "transform-remove-console",
      ],
    }
  },
}
