@import 'styles/global.css';

.splashContent {
  img {
    width: 100%;
  }

  .mainSection {
  }

  .phone {
    flex: .5;
    align-self: flex-end;
    font-size: 0;
    max-height: 600px;
    transform-origin: bottom;
    max-width: 432px;
  }
}


.banner .splashContent {
  max-height: 550px;
  min-height: 0;
  background: white;
  box-shadow: $navShadow;
  justify-content: space-between;
  &.metamask {
    max-height: 260px;
    width: auto;
    button {
    }
    .subH {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .phone {
      text-align: center;
    }
    .phone img {
      max-width: 360px;
      max-height: 360px;
    }
    mainsection {
      /* flex: 1; */
    }
  }
  mainsection {
  }
  section {
    margin: 0;
  }
}


.splashContainer .splashContent {
  max-height: auto;
  .phone {
    max-height: auto;
  }
}

.splashContainer .divider {
  width: 80%;
  max-width: 600px;
  align-self: center;
  height: 1px;
  border-bottom: 1px solid black;
  margin: 40px 0;
  opacity: .16;
}

.splashContent section {
  z-index: 1;
}

panel {
  display: flex;
  align-items: center;
  padding: 115px 10vw 115px 10vw;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  &.mission {
    padding: 200px 10vw;
    img {
      width: 250px;
      margin-bottom: 70px;
    }
  }
  h1{
    text-align: center;
    font-size: 64px;
    line-height: 1.2;
    width: 75%;
  }
  img {
    max-width: 100%;
  }
  &.dark {
    background-color: #444445;
    color: white;
  }
  &.grey {
    background-color: #DFDFDF;
  }
  .innerPanel {
    max-width: 750px;
    h1 {
      margin-bottom: 50px;
      text-align: left;
    }
  }
  p, ol, ul {
    font-family: Georgia;
    font-size: 24px;
    line-height: 1.6;
  }
  ul {
    padding-left: 0;

  }
  ol {
    padding-left: 1.2em;
  }
  ol.column{
    display: flex;
    flex-direction: row;
    /*margin: 0;*/
    list-style-type: none;
    padding: 0;
    li {
      flex: .33;
      counter-increment: step-counter;
      padding: 0 2%;
    }
    li::before {
      content: counter(step-counter);
      font-family: Bebas;
      color: $orange;
      display: block;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
    }
  }
  li.special {
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.16);
    cursor: pointer;
    user-select: none;
    list-style: none;
    span {
      color: #3e3eff;
      font-weight: 600;
      font-family: Arial;
      letter-spacing: -.5px;
    }
  }
  .callout p {
    font-family: 'Arial';
    font-size: 20px;
    align-self: center;
    text-align: center;
  }
  .subH {
    font-family: Arial;
    font-size: 24px !important;
    margin-top: 100px;
    text-align: center;
  }
}

.cta {
  font-family: Arial;
  font-weight: bold;
  font-size: 120px;

  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  color: $blue;
  cursor: pointer;
  padding: 40px 50px;
  box-shadow: 5px 5px 0px 0px $blue;
  border: 2px solid $blue;
  margin-bottom: 100px;
}

marrow img{
  width: 40px;
  transition: .4s ease;
}
.open marrow img{
  transform: rotate(180deg);
}

.dropdown {
  row {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
  }
  div {
    clear: both;
    overflow: hidden;
    max-height: 0;
    transition: .4s;
  }
  &.open div {
    max-height: 700px;
  }
}

columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  div {
    flex: 1;
    align-self: center;
  }
  .innerPanel {
    padding: 0 20px;
    max-width: 750px;
    p, ol, ul{
      font-size: 18px;
    }
  }
  .callout {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 1;
  }
}

.splashContent section.body {
  max-width: 600px;
}

.splashContent section.body p.subH {
  font-size: 20px;
  line-height: 30px;
  font-family: 'Georgia';
  font-weight: 200;
  &.note {
    font-size: 16px;
    margin: 20px 0 0 0;
  }
}

.splashContent section.body p.big {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 46px;
  .outline{
    line-height: 52px;
    letter-spacing: 0px;
  }
}

.splashContent section.body.smaller {
  margin-bottom: 30px;
  p.subH {
    font-size: 18px;
    line-height: 28px;
    &.note {
      font-size: 14px;
    }
  }
  .image {
    width: 200px;
  }
  p.big {
    font-size: 34px;
    line-height: 36px;
    .outline {
      font-size: 34px;
      line-height: 34px;
    }
  }
  p {
    margin: 30px 0 0 0;
  }
}

.splashContent section.form {
  flex: 0.1;
  align-items: center;

  justify-content: flex-start;
  width: 100%;
  padding: 0 0vw;
}

.splashContent section.invitation {
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0px 0 0 0;
}

.splashContent section.invitation p {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  line-height: 22px;
  margin-bottom: 10px;
}


.marqueeParent {
  white-space: nowrap;
  width: 100vw;
  overflow: hidden;
  z-index: 1;
}

.marqueeParent article {
  padding: 5px;
}

.marqueeParent article section {
  overflow: visible;
  display: inline-block;
}

.marqueeParent article section div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px 0 0;
}

.marqueeParent article section div p {
  display: inline-block;
  font-size: 22px;
  letter-spacing: 1px;
  margin: 4px 0 0 0;
}

.marqueeParent article section div p:first-of-type {
  margin: 4px 10px 0 0;
}

.marqueeParent article section div p:nth-of-type(2) {
  margin: 0 5px 0 0;
  font-size: 12px;
}

b {
  font-weight: 800;
 }

.download {
  border: 1px solid black;
  display: inline-block;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 12px 10px 8px;
  margin: 0 0 0 10px;
}

.download span {
  font-size: 16px;
  margin: 6px 0 0 6px;
  letter-spacing: 1px;
}

.download img {
  height: 20px;
}

.more {
  color: hsl(0, 0%, 30%);
  cursor: pointer;
}

.listHead {
  font-family: Arial;
  margin: 40px 0;
}

.quote {
    font-style: italic;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 2.6;
    letter-spacing: .5px;
    margin-bottom: 50px;
    font-family: 'times new roman';
    margin-bottom: 150px;
}

.pitch {
  p {
    font-family: bebas;
    font-size: 64px;
    line-height: 2.0;
    max-width: 900px;
    margin-top: 25px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
  }
  p b {
    font-weight: 400;
    color: #fff;
    background-color: #fff;
    color: #444;
    padding: 10px 7px 0px;
    font-weight: 600;
    white-space: nowrap;
  }
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-direction: row;
  margin: 20 0;
  .sidebarSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $blue;
    padding: 8px 5px;
    box-shadow: 4px 4px 0px 0px $blue;
    min-width: 30%;
    margin: 10px 1%;
    flex: .25;
  }
  p {
    font-family: Bebas;
    font-size: 18px;
    color: $blue;
    /*margin: 0;*/
  }
  arrow {
    font-size: 24px;
    line-height: 24px;
    color: $orange;
    /*margin-top: -2px;*/
  }
}




.uprightPhone {
  flex: .8;
}

.inlineDiagram {
  img {
    margin: auto;
    display: block;
    margin-bottom: 40px;
  }
}

.diagramContainer {
  padding: 0 50px;
  flex: .6;
}

.floatLeft {
  float: left;
}

@media screen
  and (max-width: 1000px) {

  .splashContent {
    /* .mainSection {
      flex: .8;
    } */
  }
  .uprightPhone {
    flex: .5;
  }
}

@media screen
  and (max-width: 768px) {

  panel.mission {
    /* padding: 100px 10vw 50px; */
    img {
      width: 100px;
      /* margin-bottom: 50px */
    }
  }
  panel h1 {
    font-size: 44px;
    width: auto;
  }

  panel {
    .subH {
      margin-top: 70px;
    }
    .quote {
      line-height: 38px;
      margin-bottom: 100px;
    }
    p, ul, ol {
      font-size: 18px;
    }
  }


  .pitch {
    p {
      font-family: bebas;
      font-size: 35px;

      line-height: 1.6;
      max-width: 900px;
      margin-top: 25px;
      text-align: center;
      letter-spacing: 1px;
      font-weight: 300;
    }
  }

  .splashContainer {
    flex-grow: 1;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
  }


  .splashContent {
    flex-direction: column;
    width: 100vw;
    min-height: none;

    .mainSection {
      display: flex;
      width: 90vw;
      /* padding-bottom: 30px; */
      z-index: 1;
    }
    .phone {
      position: absolute;
      bottom: 0;
      width: 100vw;
      right: -80px;
      opacity: .3;
    }
  }


  .splashContent section.header img {
    width: 60vw;
  }

  .splashContent section.invitation p {
    font-size: 14px;
  }

  .splashContent  section.form {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }


  .splashContent .mainSection {
    /* flex: 1;
    padding-left: 0; */
  }

  .splashContent section.body p {
    &.subH { font-size: 18px; line-height: 28px }
    &.big {
      font-size: 44px;
      line-height: 52px;
      .outline {
        line-height: 44px;
      }
    }
  }


  .marqueeParent article {
    padding: 5px;
  }

  .marqueeParent article section div {
    /* margin: 0 20px 0 0; */
  }

  .marqueeParent article section div p {
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 2px 0 0 0;
  }

  .marqueeParent article section div p:first-of-type {
    /* margin: 2px 5px 0 0; */
  }

  .marqueeParent article section div p:nth-of-type(2) {
    /* margin: 0 2.5px 0 0; */
    font-size: 6px;
  }


  .download {
    padding: 5px 6px 5px 4px;
    margin: 0 0 0 5px;
  }

  .download span {
    margin: 3px 0 0 3px;
    letter-spacing: 1px;
  }

  .download img {
    height: 10px;
  }


  columns {
    flex-direction: column;
  }

  panel {
    display: flex;
    align-items: center;
    padding: 50px 5vw 50px 5vw;
    .innerPanel {
      padding: 0 0px;
    }

    ol.column{
      display: flex;
      flex-direction: column;
      li {
        padding: 0;
        display: flex;
        margin-bottom: 3px;
      }
      li::before {
        content: counter(step-counter)'.';
        display: inline-block;
        font-size: 18px;
        margin-top: 1px;
        margin-right: 10px;
      }
    }
  }

  ol {
    padding-left: 1em;
  }

  ul {
    padding-left: 0em;
  }

  .dropdown.open div {
    max-height: 1000px;
  }

  .uprightPhone {
    margin-top: 50px;
  }

  .diagramContainer{
    padding: 0;
  }

  .cta {
    font-size: 40px;
  }

}
