.userSearch {
  /*position: absolute;*/
  /*top: -1px;*/
  /*left: 5px;*/
  max-height: 250px;
  min-width: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #bbb;
  background: white;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  button {
    display: block;
    height: auto;
    margin: 0;
    border: 0;
    /*width: 100%;*/
    background: transparent;
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-top: 5px;
    &.selected, &:hover {
      background-color: #ddd;
    }
    .username {
      position: relative;
      top: -9px;
      overflow: hidden;
      padding-left: 5px;
    }
  }
}
