<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Relevant</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.50</string>
	<key>CFBundleVersion</key>
	<string>0.9.50.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<string></string>
		</dict>
	</dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<string>
	        SUBQUERY (
	            extensionItems,
	            $extensionItem,
	            SUBQUERY (
	                $extensionItem.attachments,
	                $attachment,
	                ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.url" ||
	                ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.text" ||
	                ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.data" 
	            ).@count == $extensionItem.attachments.@count
	        ).@count &gt; 0             
	    </string>
			<key>NSExtensionJavaScriptPreprocessingFile</key>
			<string>WebsiteProcessor</string>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
		<key>New item</key>
		<string></string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>BebasNeuerelevantRegular-2.ttf</string>
		<string>BebasNeueRelevant Bold.ttf</string>
	</array>
</dict>
</plist>
