{
  "presets": [
    "env",
    "es2015",
    "stage-2",
    "react",
  ],
  "env": {
    "development": {
      "plugins": [
        "espower",
        "transform-runtime",
      ],
    },
    "production": {
      "plugins": [
        "espower",
        "transform-runtime"
      ],
    }
  },
}