{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
  ],
  "plugins": [
    "espower",
    "@babel/plugin-transform-runtime",
    "@loadable/babel-plugin",
    "@babel/plugin-proposal-class-properties",
    "inline-react-svg",
    ["module-resolver", {
      "alias": {
        "server": "./server",
        "modules": "./app/modules",
        "core": "./app/core",
        "app": "./app",
      },
    }]
  ],
}