$blue: #3E3EFF;

.loginBar {
  height: 27px;
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.loginBar a, .loginBar p {
  font-family: Helvetica;
  font-weight: normal;
  font-size: 14px;
}

.loginBar p {
  color: #242425;
  margin-right: 5px;
}

.loginText {
  font-family: 'Outline';
  font-size: 44px;
  color: #242425;
  margin: 40px 0 10px 0;
}

.splashContainer {
  background-color: #F1F1F1;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 58px;
}

.splashContent {
  margin: auto;
  position: relative;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  img {
    width: 100%;
  }

  mainSection {
    display: flex;
    position: relative;
    flex: .5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10%;
    padding-bottom: 50px;
  }
  .phone {
    flex: .5;
    align-self: flex-end;
  }
}

.splashContainer .divider {
  width: 80%;
  max-width: 600px;
  align-self: center;
  height: 1px;
  border-bottom: 1px solid black;
  margin: 40px 0;
  opacity: .16;
}

.splashContent section {
  display: flex;
  z-index: 1;
  margin-top: 20px;
}

panel {
  display: flex;
  align-items: center;
  padding: 115px 10vw 115px 10vw;
  flex-direction: column;
  justify-content: center;
  img {
    max-width: 100%;
  }
  &.dark {
    background-color: #444445;
    color: white;
  }
  &.grey {
    background-color: #DFDFDF;
  }
  .innerPanel {
    max-width: 750px;
  }
  p, ol {
    font-family: Georgia;
    font-size: 16px;
    line-height: 27px;
  }
  ol {
    margin-top: 20px;
  }
  li.special {
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid hsla(0, 0%, 0%, .16);
  }
  .callout p {
    font-family: 'Arial';
    font-size: 20px;
    align-self: 'center';
    /*color: orange;*/
    text-align: center;
    b {
      /*color: $blue;*/
    }
  }
  .subH {
    text-align: center;
  }
}

columns {
  display: flex;
  flex-direction: row;
  div {
    /*padding: 0 10%;*/
    flex: 1;
    align-self: center;
  }
  .innerPanel {
    /*padding: 0 10%;*/
    /*max-width: 400px;*/
  }
  .callout {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 1;
  }
}

.splashContent section.body p {
  font-size: 42px;
  margin: 22px 0 0 0;
  .outline{
    line-height: 40px;
    letter-spacing: 1px;
  }
}

.splashContent section.copyright {
  flex: 0.2;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  padding: 0 0vw 40px 0vw;
}

.splashContent section.form {
  flex: 0.1;
  /*flex-direction: column;*/
  align-items: center;

  justify-content: flex-start;
  width: 100%;
  padding: 0 0vw;
}

.splashContent section.invitation {
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0 0vw;
}

.splashContent section.invitation p {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  line-height: 22px;
  margin-bottom: 10px;
}


.marqueeParent {
  white-space: nowrap;
  width: 100vw;
  overflow: hidden;
}

.marqueeParent article {
  padding: 5px;
}

.marqueeParent article section {
  overflow: visible;
  display: inline-block;
}

.marqueeParent article section div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px 0 0;
}

.marqueeParent article section div p {
  display: inline-block;
  font-size: 22px;
  letter-spacing: 1px;
  margin: 4px 0 0 0;
}

.marqueeParent article section div p:first-of-type {
  margin: 4px 10px 0 0;
}

.marqueeParent article section div p:nth-of-type(2) {
  margin: 0 5px 0 0;
  font-size: 12px;
}

.download {
  border: 1px solid black;
  display: inline-block;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 12px 10px 8px;
  margin: 0 0 0 10px;
}

.download span {
  font-size: 16px;
  margin: 6px 0 0 6px;
  letter-spacing: 1px;
}

.download img {
  height: 20px;
}

.r {
  height: 22px;
}

.copyrightParent {
  margin: 20px 0 5px 5px;
}

.copyrightParent p {
  margin: 0;
  font-family: Helvetica;
  font-size: 9px;
  font-weight: bold;
}

.copyrightParent a {
  text-decoration: underline;
}

.quote {
  font-style: italic;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 22px;
}

.pitch {
  p {
    font-family: 'Libre';
    font-size: 35px;
    line-height: 40px;
    max-width: 750px;
    margin-top: 25px;
    text-align: center;
    letter-spacing: 1px;
  }
}

@media screen
  and (max-width: 736px) {

  .splashContainer {
    /*min-height: 0vh;*/
    flex-grow: 1;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
  }


  .splashContent {
    flex-direction: column;
    mainSection {
      width: 90vw;
    }
    .phone {
      flex: .5;
      margin-top: -250px;
      opacity: .5;
    }
  }


  .splashContent section.header img {
    width: 60vw;
  }

  .splashContent section.invitation p {
    font-size: 14px;
  }

  .splashContent  section.form {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .splashContent section.copyright {
    margin: auto;
    padding: 0 5vw 10px 5vw;
  }

  .splashContent mainSection {
    flex-grow: 1;
    padding-left: 0;
  }

  .splashContent section.body p {
    font-size: 23px;
    margin: 0px 0 0 0;
    line-height: 32px;
    .outline{
      line-height: 22px;
    }
  }

  .marqueeParent article {
    padding: 5px;
  }

  .marqueeParent article section div {
    margin: 0 20px 0 0;
  }

  .marqueeParent article section div p {
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 2px 0 0 0;
  }

  .loginBar {
    height: 37px;
    padding: 5px;
  }

  .loginBar a, .loginBar p {
    font-size: 14px;
  }

  .marqueeParent article section div p:first-of-type {
    margin: 2px 5px 0 0;
  }

  .marqueeParent article section div p:nth-of-type(2) {
    margin: 0 2.5px 0 0;
    font-size: 6px;
  }


  .download {
    padding: 5px 6px 5px 4px;
    margin: 0 0 0 5px;
  }

  .download span {
    margin: 3px 0 0 3px;
    letter-spacing: 1px;
  }

  .download img {
    height: 10px;
  }

  .r {
    height: 22px;
  }
}




@media only screen
  and (max-width: 320px) {
  .splashContent section.body p {
    font-size: 19px;
    margin: 0px 0 0 0;
    line-height: 32px;
    .outline{
      line-height: 22px;
    }
  }
}
