@import '../global.css';


/* ----------BALANCE------------ */
.balances {
  flex: 1;
  width: 100%;
  margin-right: 25px;
  h3 {
    font-family: Bebas;
    font-size: 34px;
    margin: 0 0 10px 0;
  }
  .warning {
    font-size: 14px;
    color: $orange;
    .warningRow {
      margin: 5px 0 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    button {
      margin: 0;
    }
  }
}

.balanceList {
  /*max-width: 500px;*/
  margin-top: 20px;
  section {
    padding: 20px 0;
    @extend %flatBorderBottom;
  }
  .transferTokens {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  row {
    justify-content: space-between;
    align-items: center;
    div {
      flex: 3;
    }
    span {
      flex: 1;
    }

    h4, & > span {
      margin: 0;
      /*font-weight: bold;*/
      /*font-family: Bebas;*/
      font-size: 18px;
    }
    & > span {
      text-align: right;
      @extend %number;
    }
    .coin {
      padding-left: 22px;
    }
    .coin::before {
      content: '';
      width: 1.05em;
      height: .9em;
      margin-bottom: -.1em;
      display: inline-block;
      background-image: url(/img/relevantcoin.png);
      background-size: contain;
      background-position: 0 100%;
      background-repeat: no-repeat;
    }

    > div p {
      font-size: 14px;
      margin: 5px 0;
    }
  }
}


/* ----------WALLET------------ */

.smallText {
  font-size: .7rem;
  margin-top: 0;
  padding: 0 20px;
}

.walletContainer {
  text-align: center;
  margin: auto;
  align-self: center;
  padding: 40px 20px;
  /*@extend %flatBorder;*/
  background: $lightBg;
  margin-left: 40px;
  max-width: 450px;

  .balanceImage {
    width: 60px;
    height: 60px;
    padding: 3px;
    display: inline-block;
    margin-bottom: 20px;
    border: 1px solid $darkGrey;
    /*@extend %flatBorder;*/
    border-radius: 50%;
    img {
      width: 100%;
    }
  }
}

.--bondedTokenBalance {
  font-size: 22px;
}


.--bondedToken {
  border: none !important;
  width: 100% !important;
  min-width: 450px;
}

.--bondedTokenHeader {
  display: none;
}

.--bondedToken-submit-container {
  padding-bottom: 0px;
}


