
.postContainer {
  width: 646px;
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.shadowBox {
  border: 1px solid #000;
  box-shadow: 2px 2px 0 0 #000;
}
.post .shadowBox {
  border: 1px solid #3E3EFF;
  box-shadow: 2px 2px 0 0 #3E3EFF;
  color: black;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  margin-bottom: 40px;
}
.post .avatarBox {
  margin: 20px 0;
}
.post .image {
  flex: 0 0 191px;
  width: 191px;
  margin-right: 20px;
  background-size: cover;
  display: block;
}
.post .headline {
  font-size: 43px;
  margin: 0 0;
  display: inline-block;
  padding-top: 5px;
}
.post .headline:after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-left: 5px;
  background-image: url(/img/linkout.png);
  background-size: cover;
}
.post .domain {
  font-size: 15px;
}
.post .body {
  font-family: 'Georgia', sans-serif;
  font-size: 18px;
  line-height: 27.5px;
  color: #242425;
}
.post .body span:after,
.post .body a:after {
  content: '\0020';
}

.postbuttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}
.postbuttons .right {

}
.postbuttons .left > a {
  margin-right: 20px;
}
.postbuttons .fraction {
  display: inline-block;
  margin-right: 20px;
}
.fraction {
  font-size: 10px;
  color: #9C9C9C;
  text-align: center;
  min-width: 30px;
}
.fraction .num {
  border-bottom: 1px solid;
}
.fraction .dem {
}
.commentcount {
  display: inline-block;
  font-size: 10px;
  color: #9c9c9c;
  margin-right: 20px;
}
.commentcount img {
  margin-right: 4px;
}
.commentcount span {
  position: relative;
  top: -4px;
}
.post .share {
  flex: 0 0 21px;
  width: 21px;
  height: 18px;
}
