
.postContainer {
  width: 646px;
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.shadowBox {
  border: 1px solid #000;
  box-shadow: 2px 2px 0 0 #000;
}


.postinfo {
  .shadowBox {
    border: 1px solid #3E3EFF;
    box-shadow: 2px 2px 0 0 #3E3EFF;
    color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
  }
  .image {
    flex: 0 0 191px;
    width: 191px;
    margin-right: 20px;
    background-size: cover;
    display: block;
  }
  .headline {
    font-size: 43px;
    margin: 0 0;
    display: inline-block;
    padding-top: 5px;
  }
  .headline:after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: 5px;
    background-image: url(/img/linkout.png);
    background-size: cover;
  }
  .domain {
    font-size: 15px;
  }
}

.postMeta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  .avatarBox.repost {
    margin-left: 10px;
    .avatar {
      width: 26px;
      height: 26px;
      flex: 0 0 26px;
    }
  }
}

.post .avatarBox {
  margin: 20px 0;
}
.postBody {
  font-family: 'Georgia', sans-serif;
  font-size: 18px;
  line-height: 27.5px;
  color: #242425;
}
.postBody span:after,
.postBody a:after {
  content: '\0020';
}
.repostBody {
  font-size: 14px;
  line-height: 21px;
  padding-left: 10px;
  border-left: 1px solid #b4b4b5;
  margin-bottom: 10px;
}

.postbuttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
  .right {}
  .left > a {
    margin-right: 20px;
  }
  .fraction {
    display: inline-block;
    margin-right: 20px;
  }
}

.fraction {
  font-size: 10px;
  color: #9C9C9C;
  text-align: center;
  min-width: 30px;
  .num {
    border-bottom: 1px solid;
  }
  .dem {
  }
}

.commentcount {
  display: inline-block;
  font-size: 10px;
  color: #9c9c9c;
  margin-right: 20px;
  cursor: pointer;
  img {
    margin-right: 4px;
  }
  span {
    position: relative;
    top: -4px;
  }
}

.post .share {
  flex: 0 0 21px;
  width: 21px;
  height: 18px;
}

@media screen
  and (max-width: 736px) {

  .postContainer {
    padding: 0;
  }
  .post .shadowBox {
    padding: 0;
    position: relative;
    border: 0;
    min-height: 240px;
    box-shadow: 0 0;
    margin-bottom: 0;
  }
  .post .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #212121;
  }
  .post .shadowBox > div {
    padding: 10px;
    z-index: 1;
    color: white;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(0deg, #242425, rgba(36,36,36,0.3));
  }
  .post .headline {
    font-size: 34px;
  }
  .postContent {
    padding: 0 10px;
  }
}
