header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgba(36,36,37, 1);
  color: white;
  height: 58px;
  width: 100vw;
  z-index: 10;
  /*background : linear-gradient(to top, rgba(36,36,37, .2), rgba(36,36,37, 1));*/
}

.headerContainer {
  height: 58px;
  width: 100%;
  background: #242425;
}

header .logo {
  height: 30px;
  margin: 10px;
}

header > div {
  flex: 1;
  width: 33%;
  display: flex;
  justify-content: center;
}

header > div.right {
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
}

header > div.right a:last-child {
  margin-right: 10px;
}

header a {
  color: white;
  margin: 0 5px;
}

@media only screen
  and (max-width: 736px) {

  header .logo {
    height: 24px;
    margin: 13px;
  }

  header {
    height: 50px;
  }
  .headerContainer {
    height: 50px;
  }
  header .right * {
    display: none;
  }

}
