header {
  position: fixed;
  display: flex;
  flex-direction: row;
  background: #242425;
  color: white;
  height: 58px;
  width: 100vw;
  z-index: 10;
}

header .logo {
  height: 30px;
  margin: 10px;
}

header > div {
  flex: 1;
  width: 33%;
  display: flex;
  justify-content: center;
}

header > div.right {
  justify-content: flex-end;
  align-items: center;
}

header > div.right a:last-child {
  margin-right: 10px;
}

header a {
  color: white;
  margin: 0 5px;
}
