.modalParent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(240, 50%, 5%, 0.7);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: scroll;
}

.ethAddress {
  max-width: 100%;
  width: 400px;
  padding: 0 20px 0px 20px;
  text-align: center;
  line-height: 1.5;
  margin-top: 20px;
  p {
      margin: 0 0 30px 0;
  }
  button{
    margin: 30px 0 10px 0;
  }
  .smallInfo {
    font-size: 12px;
    /*margin-top: 40px;*/
    text-align: center;
    p {
      margin: 5px 0;
    }
  }
}

.modalScroll {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  min-height: 100%;
  padding: 20px 0;
}

.modal {
  background-color: white;
  position: relative;
  min-width: 600px;
  display: flex;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 70px 30px 50px 30px;
}

.modalHeader {
  font-family: 'Arial';
  font-size: 30px;
  color: @darkGrey;
  margin: 0px 0 40px 0;
}

.modalBody {
  display: flex;
  flex-direction: column;
  /*padding: 0 40px;*/
  text-align: center;
}


.modal .x {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  object-fit: contain;
}

.modal .form {
  display: flex;
  flex-direction: column;
}
