@import '../global.css';

.popup {
  position: relative;
  padding: 10px 15px;
  user-select: none;
}
.popupOptions {
  position: absolute;
  background: white;
  min-width: 140px;
  top: 10px;
  right: 0;
  /*padding: 10px 0px;*/
  div {
    font-size: 14px;
    font-family: Arial;
    padding: 10px 20px;
    @extend %flatBorderBottom;
    pointer: cursor;
  }

  @extend %popupBorder;
  a {
    display: block;
  }
}
.optionDots {
  font-weight: bold;
  font-size: 18px;
  color: $greyText;
  pointer-events: none;
}

