@import '../global.css';

.sidebar{
  /*width: 40%;*/
  /*max-width: 400px;*/
  /*flex: .7;*/
  position: relative;
  margin-top: 1px;
  display: block;
  .innerSidebar {
    /*background: hsl(0,0%,0%);*/
    /*color: white;*/
    background: $lightBg;
    padding: 20px;
    padding-top: 20px;
    width: 270px;
    margin: 0 0 0 $globalMargin;

    button {
      width: 100%;
      margin: 20px 0;
    }
    ul {
      padding-left: 20px;
    }
    li {
      padding: 5px 0;
    }
  }
}
