.discoverContainer h1 {
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}

.tabs {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 20px 0 0 0;
  /*background: white;*/
  font-weight: bold;
  margin-top: 0;

}
.tabs a {
  display: block;
  flex: 1;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: 0px solid black;
  color: #444445;
}
.tabs a:hover {
  color: #3E3EFF;
}
.tabs a.selected {
  font-weight: bold;
  border-bottom: 3px solid;
  color: #3E3EFF;
}
.tabs a li {
  padding-bottom: 5px;
}

.discoverUserContainer {
  border-bottom: 1px solid #b4b4b5;
  padding: 10px 5px;
}
.discoverUser {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.discoverUser .right {
  font-family: 'Bebas';
  font-size: 17px;
  text-align: right;
}
.discoverUser .right .r {
  width: 16px;
  height: 16px;
  margin-right: 3px;
  margin-bottom: -1px;
}
.discoverUserContainer .bio {
  padding: 10px 50px 5px 50px;
  font-family: Georgia, serif;
  line-height: 1.52;
  color: #242425;
}
