@import 'styles/global.css';



.comments form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0 20px 0;
  flex: 1;
}

.formContainer {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  /* box-shadow: $postShadow; */

  /*align-items: flex-end;*/
  background-color: #F8F8F8;
  button {
    /*float: right;*/
    align-self: flex-end;
    margin: 5px 0px;
  }
  padding: 20px;
}

.comments form .avatar {
  margin-right: 5px;
  width: 37px;
  height: 37px;
}
.comments form textarea, .comment textarea {
  @extend %input;
  /*width: 100%;*/
  flex: 1;
  margin: 0;
}

.comments form input[type=submit] {
  border: 0;
  background: transparent;
  padding: 0px 0;
  margin-left: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: $blue;
  cursor: pointer;
  outline: none;
}
